{% extends 'users/base.html' %}
{% block content %}

    {% if not user.is_authenticated %}
    <div class="container">
        <h1>Login:</h1>
        <form class="mb-3 needs-validation" novalidate action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="inputLogin" class="form-label">Login</label>
                <input name="login" type="username" class="form-control" id="id_username">
                <div class="invalid-feedback">
                    Please provide a login.
                </div>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="inputPassword">
                <div class="invalid-feedback">
                    Please provide a password.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    {% endif %}
    <script>
        (function () {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

{% endblock %}